---
import PageLayout from "@layouts/PageLayout.astro";
import WebLayout from "@layouts/WebLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection('posts')
---

<WebLayout>
  <PageLayout title="Blog.">
    
    <div class="overflow-scroll">

      <div class="flex flex-col p-4 gap-5">
        {
          posts.sort((a, b) => new Date(a.data.date).getTime() - new Date(b.data.date).getTime()).map(p => (
          <a href={`/blog/${p.slug}`}>
            <div class="px-3 py-3 border-1 sm:rounded-xl hover:bg-white/30 cursor-pointer bg-[#141936]/90 gap-2 shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_5px_#08f]">
          <div class="flex gap-3 text-xs font-light" > 
            <p>{p.data.author}</p>
            <p>{p.data.date}</p>
          </div>
        <h2 class="text-lg font-bold uppercase">{p.data.title}</h2>

        <p class="overflow-hidden text-ellipsis h-4 whitespace-nowrap text-xs font-extralight">
          {p.body}
        </p>
        </div>
            </a>
        
      ))
        }
        
        
        
      </div>
    </div>
  </div>
    
  </d>
  </PageLayout>
</WebLayout>